# Pastas do IntelliJ IDEA
.idea/

# Arquivos do Maven Wrapper
.mvn/

# Arquivos de build do Maven
target/

# Arquivos de configuração local
mvnw
mvnw.cmd
docker-compose.yml

# Arquivos de log e temporários
*.log
